name: First Pipeline

on:
  push:
    branches:
      - main

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Check required files
        run: |
          test -f notes.txt
          test -f first_script.sh

      - name: Run my script
        run: ./first_script.sh

